<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body>
  <h1>HTMX GET Example</h1>

  <button hx-get="http://localhost:8088/hello" hx-target="#response" hx-swap="innerHTML">
    Say Hello
  </button>

  <button hx-get="http://localhost:8088/tasks" hx-target="#tasks" hx-swap="innerHTML">
    tasks
  </button>

  <div id="response">
  </div>
  <div id="tasks">
  </div>
  </div>

</html>